* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.site-container {
  max-width: 100%;
  min-height: 100%;
  background-color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(230, 247, 255);
  width: 100%;
  color: #000;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav .logo {
  font-weight: bold;
  padding: 0 20px;
}
nav ul {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav ul a {
  color: #000;
  padding: 20px 40px;
  text-decoration: none;
}
nav ul a:hover {
  background-color: rgb(170, 209, 229);
}

.container {
  padding: 20px 100px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
}
.container .desc {
  padding: 40px;
  font-size: 30px;
  background-color: rgb(230, 247, 255);
}
@media only screen and (max-width: 1700px) {
  .container .context .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.container .images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container img {
  -webkit-box-shadow: 3px;
          box-shadow: 3px;
  padding: 20px;
  width: 500px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .context {
  padding: 20px;
  width: 100%;
}
.container .context .header {
  font-size: 60px;
}
.container .context h1 {
  font-size: 60px;
}
.container .context .text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin-top: 50px;
  text-align: left;
  display: flex;
  min-height: 100px;
}
.container .context .text .textBox {
  background-color: white;
  padding: 20px;
  margin: 0 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .context .text .textBox h1 {
  text-align: center;
  font-size: 20px;
}

footer {
  background-color: rgb(230, 247, 255);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container h1, footer .container p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
  margin: 0;
}
footer .container h1 {
  font-size: 20px;
  color: #000;
  padding: 8px 4px;
  margin-left: 20px;
}
footer .container p {
  font-size: 12px;
  font-weight: 100;
}
footer .container .socials i {
  font-size: 25px;
  color: #000;
  margin-right: 5px;
}